 <body>
 <form id="register" method="post" action="./registeruser">
                <div class="form-group">
                    <label for="username">Username <span class="text-danger">*</span></label>
                    <input type="username" class="form-control" name="username" id="username" placeholder="Enter Your Username">
                </div>
                <div class="form-group">
                    <label for="password">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Enter Your Password">
                   <!-- <label for="confirmpasswordInput">Confirm password<span class="text-danger">*</span></label>

                     <input type="password" class="form-control" name="password" id="confirmpasswordInput" placeholder="Confirm password"> -->
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-block">
                </div>
            </form>
            </body>